.containers{
    width: 30%;
}
.card{
    border-radius: 10px;
    /* box-shadow: 1px 1px 5px 5px #b6afaf; */
}
label{
    font-size: 14px;
}
section a,p{
    text-decoration: none;
    font-size: 13px;
}
input,select{
    background: transparent;
    border-color: #157347;
}
::placeholder{
    color: #157347;
}
select{
    width: 95%;
}
.google{
    position: relative;
}
.google img{
    position: absolute;
    width: 5%;
    top: 19px;
    left: 80px;
}
.form-check-input{
    cursor: pointer;
}
.text-danger{
    font-size: 10px;
}
@media (max-width: 700px){
    .containers{
        width: 90%;
    }
    .d-flex{
        flex-direction: column;
    }
    .d-flex input select{
        margin-left: 0px !important;
    }
    .form-control,select{
        margin-top: 10px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100%;
    }
    .google img{
        position: absolute;
        width: 5%;
        top: 19px;
        left: 60px;
    }
    .no{
        margin-top: 0px;
    }
}